[project]
	description = Test_library
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Hakit168
[access "refs/for/refs/*"]
	read = group user/Hakit168
	push = group user/Hakit168
	label-Code-Review = -2..+2 group user/Hakit168
	label-Verified = -1..+1 group user/Hakit168
	rebase = group user/Hakit168
	removeReviewer = group user/Hakit168
	submit = group user/Hakit168
[access "refs/heads/*"]
	read = group user/Hakit168
	create = group user/Hakit168
	push = +force group user/Hakit168
	pushMerge = group user/Hakit168
[access "refs/tags/*"]
	push = +force group user/Hakit168
	pushTag = group user/Hakit168
	pushSignedTag = group user/Hakit168
